@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form {
    background-image: #ECF0F3;
    padding: 40px 30px 30px 30px;
}

.form-row {
    max-width: 700px;
    min-height: 700px;
    margin: 80px auto;
    padding: 30px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.form-group input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.form-group {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.form-control:focus {
    color: #212529;
    background-color: transparent;
    box-shadow: none;
}

.form-control:read-only {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #1a1b4b;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: #292a73;
    border-radius: 3rem;
}

.divImg {
    display: flex;
    justify-content: center;
}

.cadastroOk {
    display: none;
    /* width: 70%; */
}

.logoForm {
    width: 65%;
    padding-left: 190px;
}