@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap%27');

* {
    font-family: 'Poppins', sans-serif;
}
#divTextoDevWho > p {
    color: #1a1b4b;
}
#container {
    background-color: #EDF2FB;
    width: 98%;
}
#divChamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px #1a1b4b;
    background-color:#EDF2FB;
    border-radius: 10px;    
}
.divTextoChmd > p {
    color: #1a1b4b;
    text-align: center;
}
.divBtnInsc > button {
    padding: 20px;
    margin-bottom: 10%;
    font-size: 22px;
    color: #1a1b4b;
}
.logoPqn {
    height: 180px; width: 180px;
}
#slide1 {
    height: 240px;
}
#slide2 {
    height: 240px;
}
#slide3 {
    height: 240px;
}