@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloH3Login {
    text-align: center;
}

.divImg {
    display: flex;
    justify-content: center;
}

.loginPageImg {
    width: 70%;
}

.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    border: 1px solid #1a1b4b;
}

.form-text {
    color: #c9cce8;
}

.form-control:focus {
    color: #1a1b4b;
    background-color: #fff;
    border-color: #1a1b4b;
    outline: 0;
    box-shadow: none;
}

.esqueciSenha {
    cursor: pointer;
}

.corTexto {
    color: #1a1b4b!important;
}

.btn-submit {
    color: #fff;
    background-color: #292a73;
    border-color: #1a1b4b;
    width: 30%;
    font-weight: 600;
    transition: .2s;
    border-radius: 4px;
    height: 39px;
}

.btn-submit:hover {
    color: #fff;
    background-color: #1a1b4b;
    border-color: #292a73;
}

.btnRedesFB {
    background: #4065b4;
    color: #fff;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    margin: 2px 0;
    height: 50px;
    font-weight: 600;
    transition: .2s;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.btnRedesFB:hover {
    background-color: #33508e;
    box-shadow: 0 1px 4px rgb(0 0 0 / 5%), 0 4px 16px rgb(0 0 0 / 6%);
}

.btnRedesGoogle {
    background: #f5f5f5;
    color: #1a1b4b;
    border: none;
    padding: 0 20px;
    padding-right: 24px;
    border-radius: 4px;
    margin: 2px 0;
    height: 50px;
    font-weight: 600;
    transition: .2s;
    display: inline-flex;
    align-items: center;
    gap: 25px;
}

.btnRedesGoogle:hover {
    background-color: #f1f1f1;
    box-shadow: 0 1px 4px rgb(0 0 0 / 5%), 0 4px 16px rgb(0 0 0 / 6%);
}

/* Voltar ao topo */
#arrowUp{
    text-decoration: none;
    color:#f7a400;
    background-color: #1a1b4b;
    padding:8px;
    position:fixed;
    right:8px;
    bottom:8px;
    box-shadow: 1px 1px 2px #333;
}