@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body,html{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(---terceiraCor);
}
:root{
    ---primeiraCor: #f7a400;
    ---segundaCor: #3a9efd;
    ---terceiraCor: #c9cce8;
    ---quartaCor: #292a73;
    ---quintaCor: #1a1b4b;
}
.mentSoft{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.descDetalhes{
    text-align: justify;
}
.planoTitulo{
    background-color: var(---quartaCor);
    color: white;
}