<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/cadastro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dev Who | Cadastro </title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand estiloSublinhado" href="../index.html">Dev Who</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link estiloSublinhado" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link estiloSublinhado" href="./cadastro.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link estiloSublinhado" href="./contato.html">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link estiloSublinhado" href="./login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form>
        <div class="form-row mt-5 mb-5">
            <div class="form-group col-md-10">
                <label for="inputNome4">Nome Completo</label>
                <input type="text" class="form-control" id="inputNome4" placeholder="Nome">
            </div>
            <div class="form-group col-md-10">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
            </div>
            <div class="form-group col-md-6">
                <label for="inputConfirmPassword4">Confirmação De Senha</label>
                <input type="password" class="form-control" id="inputConfirmPassword4" placeholder="Senha">
            </div>
            <div class="form-group col-md-5">
                <label for="inputCEP">CEP</label>
                <input type="text" class="form-control" id="inputCEP">
            </div>
            <div class="form-group col-md-10">
                <label for="inputAddress">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
            </div>
            <div class="form-group col-md-10">
                <label for="inputAddress2">Complemento</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa, etc.">
            </div>
            <div class="form-group col-md-8">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-8">
                <label for="inputEstado">Estado</label>
                <input type="text" class="form-control" id="inputEstado">
            </div>
            <button type="submit" class="btn mt-2 btn-primary">Entrar</button>
        </div>
        </div>
    </form>


    <div class="d-flex flex-column h-100">
        <footer class="w-100 py-4 flex-shrink-0 mt-3">
            <div class="container py-4">
                <div class="row gy-4 gx-5">
                    <div class="col-lg-4 col-md-6">
                        <h5 class="h1">DW.</h5>
                        <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt.</p>
                        <p class="small text-muted mb-0">&copy; Copyrights. Todos os direitos reservados <a
                                class="text-primary" href="#">https://github.com/danbaziewicz/devWho</a></p>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h5 class="mb-3">Links rápidos</h5>
                        <ul class="list-unstyled">
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Home</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Cadastro</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Contato</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h5 class="mb-3">Membros</h5>
                        <ul class="navbar-nav">
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Alonso</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Bárbara</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Danylo</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Edson</a></li>
                            <li><a class="nav-link-footer estiloSublinhado" href="#">Letícia</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="mb-3">Newsletter</h5>
                        <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt.</p>
                        <form action="#">
                            <div class="input-group mb-3">
                                <input class="form-control" required type="text"
                                    placeholder="Registre-se na Newsletter">
                                <button type="submit" class="btn-submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>